<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Добавление администратора</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>

	<ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'blog:index' %}">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'blog:post-list' %}">Лента постов</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'blog:create_post' %}">Создать пост</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{%url 'blog:all_channels'%}">Каналы других пользователей</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'blog:my_chanel' %}">Мои каналы</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'blog:create_chanel' %}">Создать канал</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'blog:find_user' %}">Поиск пользователей</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'blog:profile' user.id%}?check_subs=yes">Подписки</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'blog:profile' user.id%}">Профиль</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'blog:logout' %}">Выйти</a>
          </li>
        </ul>
    <div class="container">
	    {%if user.id == chanel.owner.id%}
	    	<h1>
	    		Добавление администратора
	    	</h1>
	    	<form method="post" action="">
	    		{% csrf_token %}
	    		<select name="channel">
	    			<label>
	    				Канал для добавления администратора:
					</label>
	    			{%for ch in user.chanel_set.all %}
	    				<option>
	    					{{ch.name}}
	    				</option>
	    			{% endfor %}
	    		</select><br><br>

	    		<label>Введите ID(Он виден в профиле)</label><input type="text" name="worker_id" class="form-control" required>
	    		<br><select name="user_root">
		    			<option>
		    				Суперпользователь
		    			</option>
		    			<option>
		    				Редактор
		    			</option>
	    		</select><br>
	    		<input type="submit" name="" class="btn btn-outline-success">
	    	</form>
	    {%else%}
	    	<h1>Вы не владелец данного канала.</h1>
	    {%endif%}
	</div>
</body>
</html>