{% extends 'base.html' %}

{% block content %}
    <div class="container">
	    {%if user.id == chanel.owner.id%}
	    	<h1>
	    		Добавление администратора
	    	</h1>
	    	<form method="post" action="">
	    		{% csrf_token %}
	    		<select name="channel">
	    			<label>
	    				Канал для добавления администратора:
					</label>
	    			{%for ch in user.chanel_set.all %}
	    				<option>
	    					{{ch.name}}
	    				</option>
	    			{% endfor %}
	    		</select><br><br>

	    		<label>Введите ID(Он виден в профиле)</label><input type="text" name="worker_id" class="form-control" required>
	    		<br><select name="user_root">
		    			<option>
		    				Суперпользователь
		    			</option>
		    			<option>
		    				Редактор
		    			</option>
	    		</select><br>
	    		<input type="submit" name="" class="btn btn-outline-success">
	    	</form>
	    {%else%}
	    	<h1>Вы не владелец данного канала.</h1>
	    {%endif%}
	</div>
{% endblock content %}