{% extends 'base.html' %}

{% block content %}
  <div class='container'>
    {% for root in roots %}
    	{% if post.channel.owner.id == user.id or root.worker.id == user.id and root.roots == 'Суперпользователь' or adm_ch.roots == 'Редактор' %}
		    <h1>Изменение данных поста.</h1>
		    <hr>
		    <h1>
		    	{{post.title}}
		    </h1>
		    <hr>
		    <p>
		    	{{post.text}}
		    </p>
		    <hr>
		    <h3>
		    	Автор: {{post.author.username}}
		    </h3>
		    <br><br>
		    <hr>
				<form method="post" action="">
					{% csrf_token %}
					<input type="text" name="title" class="form-control" placeholder="Название">
					<textarea class="form-control" name="text" placeholder="Текст"></textarea>
					<input type="submit" name="" class="btn btn-outline-success" value="Изменить">
				</form>
				<form method="post">
					{% csrf_token %}
					<input type="submit" name="delete_post" class="btn btn-danger" value="Удалить публикацию">
				</form>
				<a href="{% url 'blog:check_post' post.id%}">Назад</a>
				{%endif%}
			{% endfor %}
	</div>
{% endblock content %}