{% extends 'base.html' %}

{% block content %}
    <div class='container'>
    	<h1>
    		Создание нового канала
    	</h1>

    	{%if messages%}
    		{% for msg in messages %}
    			<h5>{{msg}}</h5>
    		{% endfor %}
    	{%endif%}

    	<form method="post">
    		{% csrf_token %}
    		<input type="text" name="name" class="form-control" placeholder="Name"><br>
    		<textarea class="form-control" name='description'></textarea><br>
	    	<input type="submit" name="" value="Создать" class="btn btn-outline-success">
    	</form>
    		

    </div>
{% endblock content %}