{% extends 'base.html' %}

{% block content %}
    <div class="container">
    	<h1>Создание нового поста.</h1>
    	<form method="post">
    		{% csrf_token %}
    		<select name="channel">
    			{% for channel in user.chanel_set.all%}
    				<option>
    					{{channel.name}}
    				</option>
    			{% endfor %}
          {%if roots %}
          {% for root in roots%}
            <option>
              {{root.channel.name}}
            </option>
          {% endfor %}
          {%endif%}
    		</select>
    		<input type="text" name="title" class="form-control" placeholder="Название">
    		<textarea class="form-control" name="text" placeholder="Текст поста"></textarea>
    		<input type="submit" name="sent" value="Создать">
    			
    	</form>
    </div>
{% endblock content %}