{% extends 'base.html' %}

{% block content %}
    <div class="container">
    	
    {% if user.id == chanel.owner.id  %}
    	<p>При удалении канала "{{ chanel.name }}" все его данные будут потеряны, посты сделанные от его имени будут также удалены.</p>
    	<p>Вы уверены? Подтвердите удаление канала.</p>
    	<form method="post" action="">
    		{% csrf_token %}
    		<input type="submit" placeholder="Удалить" name="delete_chanel" class="btn btn-danger" value="Удалить"><br>
    		
    	</form>
    	<a href="{%url 'blog:admin_channels' chanel.id%}" class="btn btn-success">Назад</a>
    {% else %}
    	<h1>Вы не владелец данного канала.</h1><a href="{% url 'blog:my_chanel' %}">Посмотрите свои каналы.</a>
    {% endif %}
    </div>
{% endblock content %}