<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Поиск пользователей</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

</head>
<body>
	<ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'blog:index' %}">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'blog:post-list' %}">Лента постов</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'blog:create_post' %}">Создать пост</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{%url 'blog:all_channels'%}">Каналы других пользователей</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'blog:my_chanel' %}">Мои каналы</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'blog:create_chanel' %}">Создать канал</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'blog:find_user' %}">Поиск пользователей</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'blog:profile' user.id%}?check_subs=yes">Подписки</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'blog:profile' user.id%}">Профиль</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'blog:logout' %}">Выйти</a>
          </li>
        </ul>

    <div class="container">
    	<h1>Поиск пользователей.</h1>
    	<p>
    		Вы можете использовать ID или же username.
    		Введите данные только в те поля которые вам требуются.
    	</p>
    	<h4>Используйте только одно из данных полей!</h4>

    	{% if messages %}
	    	{% for msg in messages %}
	    		<h5>{{msg}}</h5>
	    	{% endfor %}
    	{% endif %}
    	<form method="post">
    		{% csrf_token %}
    		<hr>
    		<input type="text" name="username" class="form-control" placeholder="username">
    		<hr>
    		<input type="text" name="id" class="form-control" placeholder="id">
    		<hr>
    		<input type="submit" name="" value="Найти" class="btn btn-outline-success">
    	</form>
    </div>
</body>
</html>