{% extends 'base.html' %}

{% block content %}
    <div class="container">
    	<h1>Поиск пользователей.</h1>
    	<p>
    		Вы можете использовать ID или же username.
    		Введите данные только в те поля которые вам требуются.
    	</p>
    	<h4>Используйте только одно из данных полей!</h4>

    	{% if messages %}
	    	{% for msg in messages %}
	    		<h5>{{msg}}</h5>
	    	{% endfor %}
    	{% endif %}
    	<form method="post">
    		{% csrf_token %}
    		<hr>
    		<input type="text" name="username" class="form-control" placeholder="username">
    		<hr>
    		<input type="text" name="id" class="form-control" placeholder="id">
    		<hr>
    		<input type="submit" name="" value="Найти" class="btn btn-outline-success">
    	</form>
    </div>
{% endblock content %}