<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Мои каналы</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

</head>
<body>
	<ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'blog:index' %}">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'blog:post-list' %}">Лента постов</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'blog:create_post' %}">Создать пост</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{%url 'blog:all_channels'%}">Каналы других пользователей</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'blog:my_chanel' %}">Мои каналы</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'blog:create_chanel' %}">Создать канал</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'blog:find_user' %}">Поиск пользователей</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'blog:profile' user.id%}?check_subs=yes">Подписки</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'blog:profile' user.id%}">Профиль</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'blog:logout' %}">Выйти</a>
          </li>
        </ul>
    <div class="container">
    	<div class="d-flex flex-column-reverse">
    	{% for channel in chanel_list %}
			  <div class="p-2">
			  	<div class="card">
				  <div class="card-body">
				    <h4 class="card-title">{{channel.name}}</h4>
				    <h6 class="card-subtitle mb-2 text-muted">{{channel.reg_date}}</h6>
				    <p class="card-text">
				      {{channel.description}}
				    </p>
				    <a href="{% url 'blog:admin_channels' channel.id %}" class="card-link">Открыть панель управления каналом</a>
				    
				  </div>
				</div>
			  </div>
			{% endfor %}
		</div>
		<div class="pagination">
		    <span class="step-links">
		        {% if page_obj.has_previous %}
		            <a href="?page=1">&laquo; first</a>
		            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
		        {% endif %}

		        <span class="current">
		            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
		        </span>

		        {% if page_obj.has_next %}
		            <a href="?page={{ page_obj.next_page_number }}">next</a>
		            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
		        {% endif %}
		    </span>
		</div>
    </div>
</body>
</html>