{% extends 'base.html' %}

{% block content %}
	<div class="container">
		<div class="jumbotron">
		
		  <h1 class="display-3">{{chanel.name}}</h1>
		  <p class="lead">{{ chanel.description }}</p>
		  <p class="lead">Владелец: {{chanel.owner.username}}</p>
		  <hr class="my-2">
		  <p>
		  	Дата регистрации: {{chanel.reg_date}}
		  </p>
		  <p>
		  	Администрация:
		  	{% for worker in chanel.userroot_set.all%}
		  		{% if forloop.last %} 
		  			{% if worker.worker.username == user.username %}
		  				Вы
		  			{%else%}
		  				{{worker.worker.username}}
		  			{%endif%}
		  		{%else%}
		  			{% if worker.worker.username == user.username %}
		  				Вы,
		  			{%else%}
		  				{{worker.worker.username}},
		  			{%endif%}
		  		{%endif%}
		  	{%endfor%}
		  </p>
		  <p>
		  	Подписчики: 2m
		  </p>
		  </p>
			  <p class="lead">
		{%if user.id == chanel.owner.id%}
			    <a class="btn btn-primary btn-lg" href="{% url 'blog:create_post' %}" role="button">Новый пост</a>
			    <a class="btn btn-primary btn-lg" href="{% url 'blog:add_admin' chanel.id%}" role="button">Добавить администратора</a>
			    <a class="btn btn-primary btn-lg" href="{% url 'blog:admin_channels' chanel.id%}?change_data=yes" role="button">Изменить данные о канале</a>
			    <a class="btn btn-primary btn-lg" href="{% url 'blog:delete_chanel' chanel.id %}" role="button">Удалить канал</a>
			  </p>
		{% elif adm_ch.worker.id == user.id and adm_ch.roots == 'Суперпользователь' %}
				<a class="btn btn-primary btn-lg" href="{% url 'blog:create_post' %}" role="button">Новый пост</a>
				<a class="btn btn-primary btn-lg" href="{% url 'blog:admin_channels' chanel.id%}?change_data=yes" role="button">Изменить данные о канале</a>
		{% elif  adm_ch.worker.id == user.id and adm_ch.roots == 'Редактор' %}
			<a class="btn btn-primary btn-lg" href="{% url 'blog:create_post' %}" role="button">Новый пост</a>
		{% endif %}
			  <a href="{% url 'blog:my_chanel' %}">Назад</a><br><br>
			  <a href="{% url 'blog:admin_channels' chanel.id%}?show_posts=yes">Показать публикации</a>
			{%if request.GET.change_data == 'yes'%}
				<div class="container">
					<form method="post">
						{% csrf_token %}
						<p>Используйте только те поля, которые вам требуются</p>
						<input type="text" name="name" class="form-control" placeholder="Изменить название канала"><br>
						<textarea class="form-control" name="description" placeholder="Изменить описание канала"></textarea><br><br>
						<input type="submit" name="" value="Отправить изменения" class="btn btn-outline-success">
					</form>
					<a href="{% url 'blog:admin_channels' chanel.id%}">Отмена</a>
				</div>
			{%endif%}
			{% if request.GET.show_posts == 'yes' %}
				{%if chanel.post_set.all%}
					{% for post in chanel.post_set.all %}
							<div class="card">
		            <div class="card-body">
		              <h4 class="card-title">{{post.title}}</h4>
		              <p class="card-text">{{post.text|slice:'50'}}...</p>
		              <a href="{% url 'blog:check_post' post.id %}">Читать</a>
		              {% if post.channel.owner.id == user.id or adm_ch.worker.id == user.id and post.author.id == user.id or adm_ch.roots == 'Суперпользователь' or adm_ch.roots == 'Редактор'%}
            				<a href="{% url 'blog:change_post' post.id%}">Редактировать</a>
    							{% endif %}
		            </div>
		          </div>
					{% endfor %}
				{%endif%}
			{% endif %}

			
		
		</div>
	</div>
{% endblock content %}