{% extends 'base.html' %}

{% block content %}
    <div class="container">

    	<form method="get" action="">
	    	<input type="text" name="name_find" class="form-control" placeholder="Введите имя искомой публикации">
	    	<input type="submit" value="Найти" class='btn btn-outline-success'  name="">
	    	<input type="submit" name="reset" value='Очистить поиск' class="btn btn-warning">
	    </form>
	    <br><br><br>

    	<div class="card-deck" style="margin-top: 30px;">
    	{% for post in posts %}
		  <div class="card">
		    <div class="card-body">
		      <h4 class="card-title"><a href="{% url 'blog:check_post' post.id %}">{{post.title}}</a></h4>
		      <p class="card-text">{{post.text|slice:'50'}}...</p>
		      <p>{{post.author.username}}</p>
		      <p>{{post.date_pub}}</p>
		      {% if post.channel.owner.id == user.id %}
		      	<a href="{% url 'blog:change_post' post.id%}">Редактировать</a>
		      {% endif %}
		    
		    </div>
		  </div>
		{% endfor %}
		</div>
		<div class="pagination">
		    <span class="step-links">
		        {% if page_obj.has_previous %}
		            <a href="?page=1&name_find=">&laquo; first</a>
		            <a href="?page={{ page_obj.previous_page_number }}&name_find=">previous</a>
		        {% endif %}

		        <span class="current">
		            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
		        </span>

		        {% if page_obj.has_next %}
		            <a href="?page={{ page_obj.next_page_number }}&name_find=">next</a>
		            <a href="?page={{ page_obj.paginator.num_pages }}&name_find=">last &raquo;</a>
		        {% endif %}
		    </span>
		</div>
    </div>
{% endblock content %}